<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <tr class="nav-item nav-category">Main Menu</tr><br>&emsp;&emsp;
        <tr class="nav-item">
            <a class="nav-link" href="/cash-deposit-info">
                <i class="menu-icon typcn typcn-document-text"></i>
                <colspan class="menu-title">계좌잔고조회</colspan>&emsp;
            </a>
        </tr>
         <tr class="nav-item">
            <a class="nav-link" href="/cash-in-out-info">
                <i class="menu-icon typcn typcn-document-text"></i>
                <colspan class="menu-title">출납내역조회</colspan>&emsp;
            </a>
        </tr>
        <tr class="nav-item">
            <a class="nav-link" href="/cash-in-post">
                <i class="menu-icon typcn typcn-bell"></i>
                <colspan class="menu-title">입금처리</colspan>&emsp;
            </a>
        </tr>
        <tr class="nav-item">
            <a class="nav-link" href="/cash-out-post">
                <i class="menu-icon typcn typcn-document-text"></i>
                <colspan class="menu-title">출금처리</colspan>&emsp;
            </a>
        </tr>        
    </ul>    
</nav>