<!DOCTYPE html>
<html lang="en">
<head>
<title>현금 출납 조회</title>
<% include ../_helpers/html_header %>
<style>
.form-group label {
    width: 30%;
}
</style>
</head>
<body>
	<div class="container-fluid page-body-wrapper">
		<%- include('../partials/sidebar') %>
		<div class="container">
			<h2><center>현금 출납내역 정보 조회</center></h2> 
			<p/>	
			<form method="POST" action="/cash-in-out-info">
				<div class="form-group">
					<hr>
					<hr>
					<div>	<label>계좌번호</label>
							<input type="text" class="form-control" id="SubAccountNo" name="SubAccountNo" value="<%=SubAccountNo %>"><br><br>
							<label>출납일자</label>
							<input type="text" class="form-control" id="TradeDate" name="TradeDate" value="<%= TradeDate %>">
					</div>
					<button class="btn btn-success" id="btn1">조회</button>
</p>

				<table class="table">
						<thead>
						<tr>
							<th>출납번호</th>
							<th>입출구분</th>
							<th>출납금액</th>
							<th>전예수금</th>
							<th>후예수금</th>
							<th>미수발생금액</th>
							<th>미수상환금액</th>
							<th>연체료변제금</th>
							<th>계정명</th>
							<th>적요명</th>
						</tr>
						</thead>
						<tbody>
							<% if(mode!="init") { %>
							<% list.forEach(function (item,index){ %>
								<tr>
									<td><%= item.SerialId %></td>
									<td><%= item.InOutFlag %></td>
									<td><%= item.InOutAmt %></td>
									<td><%= item.BeforeDeposit %></td>
									<td><%= item.AfterDeposit %></td>
									<td><%= item.ReceiveableAccruedAmt %></td>
									<td><%= item.OverDuePenaltyAmt %></td>
									<td><%= item.NameAccount %></td>
									<td><%= item.NameBrief %></td>
								</tr>
							<% }) %>
							<% } %>
						</tbody>
					</table>
					<p><%= message %></p>
				</div>  
			</form>
		</div>
	</div>

<script>
$( function() {
 
	//enter 처리
	$("#SubAccountNo").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#SubAccountNo").focus();
		}
	});
	$("#TradeDate").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#TradeDate").focus();
		}
	});
	
	$("#btn1").off().on( "click", () => {
		document.forms[0].submit();
	});	
});
</script>
</body>
</html>
