<!DOCTYPE html>
<html lang="en">
<head>
<title>현금 출금 처리</title>
<% include ../_helpers/html_header %>

<style>
.form-group label {
    width: 30%;
}
</style>
</head>
<body>
	<div class="container-fluid page-body-wrapper">
		<%- include('../partials/sidebar') %>
	
		<div class="container">
			<h2>현금 출금처리 정보입력</h2> 
			<p/>	
			<form method="POST" action="/cash-out-post">
				<div class="form-group">
					<hr>
					<hr>  
					<label>개별계좌번호:</label> 
						<input type="text" class="form-control" id="SubAccountNo" name="SubAccountNo" value="<%= SubAccountNo %>"> <br><br>
					<label>비밀번호:</label> 
						<input type="password" class="form-control" id="Password" name="Password" value="<%= Password %>"> <br><br>
					<label>출금금액:</label>
						<input type="number" class="form-control" id="OutAmt" name="OutAmt" value="<%= OutAmt %>"> <br><br>
					<label>계정코드:</label> 
						<select name = "CodeAccount"  id = "CodeAccount">
							<option value = "01" selected>현금</option>
							<option value = "02">당좌예금</option>
							<option value = "03">보통예금</option>
							<option value = "04">정기예금</option>
							<option value = "05">받을어음</option>
						</select>	
						<input type="hidden" class="form-control" id="NameAccount" name="NameAccount" value="<%= NameAccount %>"> <br><br>
					<label>적요코드:</label> 
						<select name = "CodeBrief"  id = "CodeBrief">
							<option value = "01" selected >창구출금</option>
							<option value = "02" >수표출금</option>
							<option value = "03" >대체출금</option>
							<option value = "04" >타행출금</option>
							<option value = "05" >온라인출금</option>
						</select>	
						<input type="hidden" class="form-control" id="NameBrief" name="NameBrief" value="<%= NameBrief %>"> <br><br>
				</div>      
				<p><%= message %></p>
			</form>
			<P align=center>
				<button class="btn btn-success" id="btn1">출금처리</button>&nbsp;
			</P>
			<p>
			</p>	
		</div>		
	</div>



<script>
$( function() {
	$("#SubAccountNo").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#SubAccountNo").focus();
		}
	});
	$("#Password").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#Password").focus();
		}
	});

	$("#OutAmt").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#OutAmt").focus();
		}
	});
	$("#CodeAccount").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#CodeAccount").focus();
		}
	});
	$("#CodeBrief").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#CodeBrief").focus();
		}
	});
	//Login
	$("#btn1").off().on( "click", () => {
		var target = document.getElementById("CodeAccount");
		nameAccount = target.options[target.selectedIndex].text;
		document.getElementById("NameAccount").value = nameAccount;

		target = document.getElementById("CodeBrief");
		nameBrief = target.options[target.selectedIndex].text ;
		document.getElementById("NameBrief").value = nameBrief;

 		document.forms[0].submit();
	});	

});

</script>
</body>
</html>
