<!DOCTYPE html>
<html lang="en">
<head>
<title>현금 잔고 조회</title>
<% include ../_helpers/html_header %>
</head>
<div class="container-fluid page-body-wrapper">
		<%- include('../partials/sidebar') %>
	<div class="container">
		<h2><center>계좌 현금 잔고 조회</center></h2> 
		<p>	
		<form method="POST" action="/cash-deposit-info">
			<div class="form-group">
				<hr>
				<hr>

				<div>	
					<label>개별계좌번호</label>
					<input type="text" class="form-control" id="SubAccountNo" name="SubAccountNo" value="<%=SubAccountNo %>">
				</div>		
				
				<button class="btn btn-success" id="btn1">조회</button>
			</p>

			<table class="table">
					<thead>
					<tr>
						<th>계좌번호 </th>
						<th>예수금 </th>
						<th>대출금 </th>
						<th>증거금 </th>
						<th>미수금 </th>
					</tr>
					</thead>
					<tbody>
								<tr>
									<% if(mode!="init") { %>
									<td><%=SubAccountNo %></td>
									<td><%=DepositCash %></td>
									<td><%=LoanAmt %></td>
									<td><%=MarginAmt %></td>
									<td><%=ReceivableAmt %></td>
									<% } %>
								</tr>
					</tbody>
			</table>
			<p><%= message %></p>
		</div>		
		</form>
	</div>
</div>

<script>
$( function() {

	//enter 처리
	$("#SubAccountNo").off().on("keypress", (event) => {
		if(event.keyCode == 13) {
			event.keyCode = 0;
			$("#SubAccountNo").focus();
		}
	});
	//Login
	$("#btn1").off().on( "click", () => {
		document.forms[0].submit();
	});
});
</script>
</body>
</html>
